<header>
  <section class="container">
    <nav class="menu-nav">
      <h1><%= link_to  "Gerenciamento de Projetos", root_path %></h1>
      <ul>
        <li><%= link_to  "Projetos", root_path %></li>
        <li><%= link_to  "Novo Projeto", new_project_path %></li>
      </ul>
    </nav>
  </section>
</header>
