<section class="container">
  <div class="form-content">
    <h2>Editar projeto</h2>
    <%= render 'form', project: @project %>
  </div>
  <%= link_to  "keyboard_return", project_path(@project), class: "material-icons md-light", style: "color: #1c9271", title: "Retornar" %>
</section>
