<section class="container">
  <div class="form-content">
    <h2>Editar atividade</h2>
    <%= render 'form', activity: @activity %>
  </div>
  <%= link_to  "keyboard_return", project_path(@activity.project), class: "material-icons md-light", style: "color: #1c9271", title: "Retornar" %>
</section>
